.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  cursor: pointer;
  color: #000;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}
@media screen and (max-width: 480px), (max-height: 800px) {
  .popup {
    width: 50%; /* Adjust width for small devices */
    margin: 30% auto; /* Adjust margin for small screens */
    padding: 50px; /* Reduce padding for smaller devices */
  }

  .popup h2 {
    font-size: 18px; /* Smaller font for heading */
  }

  .popup .close {
    font-size: 24px; /* Reduce close button size */
    top: 15px; /* Adjust position of close button */
    right: 20px;
  }

  .popup .content {
    max-height: 40%; /* Increase content height if needed */
  }
}
